.grid {
    width:520px;
}

.tile-wrap {
    width:50px;
    height:50px;
    border:1px solid gray;
    position:relative;
    float:left;

    -webkit-perspective:800;
}

.tile {
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    /* nuh-uh; we do this inline to allow different transition speeds. */
    /*-webkit-transition: -webkit-transform 1s;*/
}

.tile div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
}

.tile .front {
    background: red;
}

.tile .back {
    -webkit-transform: rotateY(180deg);
}

.tile.flipped {
    -webkit-transform: rotateY(180deg);
}

.game {
    cursor:pointer;
}

/**
 * tile types
 */
.tile .points {
    background: black;
    color: white;
}
